h1,h2,h3,h4,h5,h6,p,li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%; /* Це забезпечує адаптивність зображення */
    height: auto;   /* Зберігає пропорції зображення */
    margin: 0 auto; /* Вирівнює зображення по центру, якщо потрібно */
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.header-border {
    border-bottom: 1px solid #e7e9fc;
}
.container-header {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.ul-header {
    display: flex;
    gap: 40px;
}



.header-nav-style-line {
    display: flex;
    align-items: center; 
}
.logo-webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-span {
    color: #2e2f42;
}
.header-li-style-line-stodio {
      display: flex;
      margin-right: 40px;
      padding-top: 24px;
      padding-bottom: 24px;
}
.header-li-style-line-portfolio {
    display: flex;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-li-style-line-contacts {
    display: flex;
    margin-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-style:hover,
.header-style:focus {
    color: #404bbf;
}
.address-style {
    font-style: normal;
}
.ul-adress-style {
    display: flex;
}
.li-adress-mail-style{
    display: flex;
    margin-right: 40px;
}
.li-adress-tel-style {
    display: flex;
    margin-right: 0;
}
.info-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.info-style:hover,
.info-style:focus {
    color: #404bbf;
}
.container-section-one {
    padding-top: 188px;
    padding-bottom: 188px;
}
.section-one-style {
    background-color: #2e2f42;
}
.section-one-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; 
    max-width: 496px; 
}
.section-one-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}
.section-one-button:hover,
.section-one-button:focus {
    background-color: #404BBF;
}
.container-section-two {

}
.section-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.section-two-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-section-three {

}
.section-three-style {
    background-color: #F4F4FD;
}
.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-three-li {
    background-color: #FFFFFF;
}
.section-three-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-three-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-section-four {

}
.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-footer {

}
.footer-style {
    background-color: #2e2f42;
}
.logo-webstudio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-span-footer {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}